<!DOCTYPE html>
<html lang="en">
<head>
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <!-- .user-name {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-right:5px;
  }-->
 <style>

  .user-name, .user-status {
    font-size: 24px;

  }
  .quotes {
    color: #3A87AD;
    font-family: serif;
    font-size: 48px;
    line-height: 0;
    vertical-align: bottom;

  }
 </style>
</head>
<body width="100%" height="100%">

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Status Globe</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>

      <div id="login"></div>
 
    </div>
  </div>
</div>

<div class="row" style="padding:0 30px; min-height: 600px">
  <div class="span11 pull-left" style="height: 600px; background: #F5f5f5; border: 1px solid #DDD; border-radius: 8px;">    
    <svg id="playground" xmlns="http://www.w3.org/2000/svg" version="1.1" height="100%" width="100%"></svg>
  </div>
  <div class="span4 pull-right" style="height: 600px; background: #F5f5f5; border: 1px solid #DDD; border-radius: 8px;">
      // chat history
  </div>
</div>

<script type="text/template" id="login-template">
   <% if(name === '') { %>
  <div class="pull-right">
  <label style="margin: 10px 0px 10px 20px;" class="pull-left">Name</label><input style="margin:10px 5px 10px 10px;" class="pull-left" type="text" name="name" value="<%=name%>"/>
  <label style="margin: 10px 0px 10px 20px;" class="pull-left">Status</label><input style="margin:10px 5px 10px 10px;" class="pull-left" type="text" name="status" value="<%=status%>"/>
   <input style="margin: 10px 5px 10px 20px" class="btn btn-info join" type="button" value="Join!" />
   </div>
   <% } else { %>
   <p style="float: right; margin: 10px; "><span class="user-name"><%= name %></span> <span class="quotes">'</span><span class="user-status"><%= status %></span><span class="quotes">'</span></p> 
   <% } %>
</script>

<script type="text/template" id="user-template">
   <text x="100" y="50" stroke="black" stroke-width="2" "text-anchor"="middle" dx="-15">Boo</text>
</script>

<!-- backbone, underscore -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript"src="/js/underscore.js"></script>
<script type="text/javascript"src="/js/backbone-min.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/backbone-min.js"></script>
<script type="text/javascript" src="/js/d3.v2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/keyboard.0.2.2.min.js"></script>

<script type="text/javascript">

var socket = io.connect('http://sreeix.status.globe.jit.su/');
var userCollection;
var step = 35;
var meModel;

socket.on('user_move', function (data) {
  userCollection.userMove(data);
});

socket.on('user_join', function (data) {
  userCollection.userJoin(data);
});

function socket_user_move(data) {
    socket.emit("user_move",data);
}

function socket_user_join(data) {
    socket.emit("user_join",data);
}

var User = Backbone.Model.extend({

  defaults: {
    x : 100,
    y : 50,
    r : 40,
    name: ""
  },

  initialize: function(){

  },

  updateLocation: function(xf,yf){
    this.set({
      x: this.get("x") + xf*step,
      y: this.get("y") + yf*step
    });
  }

});

var UserCollection = Backbone.Collection.extend({

  model: User,

  userJoin: function(data){

    if(meModel.get("name") != "" && meModel.get("name") === data.name) {
      this.add(meModel);
    } else {
      var m = this.findUser(data.name);
     if( !m || m.length == 0 ) {
       this.add(new User(data));
     }
    }
  },

  userMove: function(data){

    if(meModel.get("name") != "" && meModel.get("name") != data.name) {
      var m = this.findUser(data.name);
      if( m && m.length > 0 ) {
        m = m[0];
        m.set(data);
      }
    }
  },

  findUser: function(username){
    return _.filter(this.models, function(d){
      return d.get("name") === username;
    });
  }
});

var MeView = Backbone.View.extend({

   el: "#login",

   template: _.template($("#login-template").html()),

   events: {
    "click .join": "join"
   },

   initialize: function(){
     this.model.on("change",this.render, this);
     this.render();

   }, 

   render: function(){
     this.$el.html(this.template(this.model.toJSON()));
   },

   join: function(e) {
     var $form = $(e.target).parent();

     var values = { me: true};
     $form.find("input[type=text]").each(function() {
        values[this.name] = $(this).val();
     });

     this.model.set(values);
     socket_user_join(this.model.toJSON());
   }

});

var PlaygroundView = Backbone.View.extend({

   el: "#playground",

   initialize: function() {
     this.collection.on("all",this.render,this);
     this.render();
   },

   render: function () {

      var data = this.collection.models;

      d3.select(this.el)
      .selectAll("circle")
      .data(data, function(d) { return d.get("name")})
      .enter()
      .append("circle")
      .attr("cx",function(d){ return d.get("x")})
      .attr("cy",function(d){ return d.get("y")})
      .attr("r",function(d){ return d.get("r")});

      d3.select(this.el)
      .selectAll("circle")
      .data(data, function(d) { return d.get("name")})
      .transition()
      .duration(750)
      .attr("cx",function(d){ return d.get("x")})
      .attr("cy",function(d){ return d.get("y")})
      .attr("r",function(d){ return d.get("r")});

      d3.select(this.el)
      .selectAll("circle")
      .data(data, function(d) { return d.get("name")})
      .exit()
      .remove();
   }

});

$(function(){

  meModel = new User();
  new MeView({ model: meModel});

   KeyboardJS.bind.key('up, down, left, right',
    function(arg1, arg2, key) {

      if(meModel.get("name") != "") {

        switch(key){
          case "up":
            meModel.updateLocation(0,-1);
          break;
          case "down":
            meModel.updateLocation(0,+1);
          break;
          case "left":
            meModel.updateLocation(-1,0);
          break;
          case "right":
            meModel.updateLocation(1,0);
          break;
        }

        socket_user_move(meModel.toJSON());
      }

    }, function() {

      // TODO ...
    });

   userCollection = new UserCollection();
   
   var user1 = new PlaygroundView({collection: userCollection});

   //socket_user_join({name: "Sameer",x:100,y:50});
   //socket_user_join({name: "Sreekanth",x:50,y:100});
 
});
</script>
</body>
</html>